// Supports weights 400-900
@use '@fontsource-variable/orbitron';

// Supports weights 100-900
@use '@fontsource-variable/montserrat';

// To use in form
@use '@fontsource/cutive-mono';

html {
  @apply text-sm text-primary;
  font-family: 'Fira Mono', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-2;
  }

  h1 {
    @apply text-5xl font-bold md:text-6xl lg:text-8xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    font-family: 'Orbitron Variable', sans-serif;
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-xs;
  }
  p {
    @apply mb-2 text-pretty text-sm font-light text-white/90;
    font-family: 'Montserrat Variable', sans-serif;
  }

  button,
  a {
    @apply text-base;
  }

  button,
  a {
    font-family: 'Rajdhani', sans-serif;
  }
}
