@keyframes animationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationFadeInTranslate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes animationFadeInScale {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animationFadeInScaleTranslate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1), translate(0);
  }
}
