.Experiences {
  @apply md:flex md:gap-x-8 opacity-0 translate-y-[25%];
  animation: animationFadeInTranslate linear forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 30%;
  &__business {
    @apply grid grid-cols-2 max-md:gap-3 py-2 mb-5 md:flex md:flex-col md:items-start grow-0;
    &__button {
      @apply md:py-3 md:px-2 md:text-white md:border md:border-primary/30 
      md:border-l md:pl-[1.5rem] md:whitespace-nowrap md:text-left md:w-full md:min-w-[300px];
    }
  }

  &__details {
    @apply py-2 grow max-lg:hidden;
  }
}



.ExperiencesDetails {
    &__header {
      @apply flex flex-wrap gap-x-2;
      h4, h5 {
        @apply text-base mb-0;
      }
      h4 {
        @apply text-white;
      }
      span {
        @apply text-xl;
      }
    }
    &__date {
      p {
        @apply mt-0 text-sm text-white/50;
      }
    }
    &__functions {
      ul {
        li {
          @apply grid gap-x-3;
          grid-template-columns: 25px auto;
          span {
            @apply text-xl translate-y-1;
          }
        }
      }
    }
  }

.ExperiencesDetailsModal {
  @apply fixed top-0 left-0 bottom-0 right-0 w-screen h-screen bg-black/90 z-50 flex items-center justify-center p-3 transition-all duration-300;
  &__box {
    @apply relative w-full max-w-[500px] max-h-[80vh] mx-3 bg-primary-dark pt-16 p-6 text-sm overflow-y-scroll;

    .btnClose {
      @apply absolute top-3 right-3 text-3xl;
    }
    &__content {
      @apply overflow-y-auto;
    }
  }
}

.businessActive {
  @apply md:border md:border-primary max-md:shadow-sm 
  md:text-primary md:border-l-2 md:pl-[2.5rem];
}